.metalic-gradient {
  background: #abbaab;
  background: -webkit-linear-gradient(to bottom, #ffffff, #abbaab);
  background: linear-gradient(to bottom, #ffffff, #abbaab);
}

.cloud-gradient {
  background: #ECE9E6;
  background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);
  background: linear-gradient(to left, #FFFFFF, #ECE9E6);
}

.violet-gradient {
  background: #4776E6;
  background: -webkit-linear-gradient(to left, #8E54E9, #4776E6);
  background: linear-gradient(to left, #8E54E9, #4776E6);
}

.tab-base {
  padding-top: 150px;
}
